<!-- <ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="article">
	<button class="back-button-div clear" (tap)="goBack()">
		<ion-icon name="arrow-back"></ion-icon>
	</button>
	<button class="bookmark-button-div clear">
		<ion-icon name="ios-bookmark-outline"></ion-icon>
	</button>
	<div class="card-list-background-img" [ngStyle]="{'background-image': 'url(' + article.banner_image + ')'}">
	</div>
	<div class="card-list-category">
	    <span class="font-12">
	      {{article.category}}
	    </span>
  	</div>
	<div>
	    <div class="card-list-profile-img" [ngStyle]="{'background-image': 'url(' + article.source_image + ')'}">
		</div>
	</div>
	<div class="wrapper-content">
		<p class="title font-16">{{article.title}}</p>
		<!-- <div class="font-tool">
			<button no15gray clear class="font-14 font-changer" (tap)="decreaseFont()">A-</button>
			<button no15gray clear class="font-16 font-changer" (tap)="increaseFont()">A+</button>
		</div> -->
		<div class="font-change-view">
			<span class="font-12 text-font">TEXT SIZE:</span>
			<button light outline (tap)="decreaseFont()">
				<ion-icon name="remove" ></ion-icon>
			</button>
			<button light outline (tap)="increaseFont()">
				<ion-icon name="add" ></ion-icon>
			</button>
			
		</div>
		<p class="source-name font-14 no15-text-color">ប្រភព: {{article.source}}</p>
		<!-- <p class="content font-16 no15-text-color">Koh Santepheap</p> -->
		<div id="content-text" [innerHTML]="article.content" class="no15-text-color content-div"></div>
	</div>

	<!-- <ion-slides class="slider-image" pager *ngIf="images"> -->

	  <div class="slider-image" [ngStyle]="{'background-image': 'url(' + image + ')'}" *ngFor="let image of images">
	  </div>

	<!-- </ion-slides> -->


	<div class='share-button'>
		<button outline class="font-14" (click)="openShare()">SHARE</button>
	</div>
	<div class='view-source-button'>
		<button dark outline class="font-14" (click)="openSource()">បើកប្រភព</button>
	</div>


</ion-content>
