.article {
	.card-list-background-img {
	    height: 190px;
	    width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	 }
	.card-list-profile-img {
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    height: 60px;
	    width: 60px;
	    border-radius: 30px;
	    border: 3px solid white;
	    background-color: #efefef;
	    margin: 0 auto;
    	position: relative;
    	display: block;
    	margin-top: -35px;
	}
	.card-list-category {
	    margin-top: -28px;
	    margin-bottom: 4px;
	    span {
	      padding: 5px;
	      color: white !important;
	      background-color: rgba(23, 85, 199, 0.65);
	    }
	  }
	.source-name {
		text-align: left;
  	margin-top: 5px;
  	padding-left: 16px;
  	margin-bottom: 5px;
		margin-top: -10px;
	}
	.wrapper-content {
	    margin-top: -41px;
	    .content-div {
	    	padding: 16px;
	    	padding-top: 5px;
	    	line-height: 1.8;
				font-size: 14px;
				font-family: 'Khmer Nettra' !important;
	    }
	}
	.title {
		background-color: #efefef;
		padding: 16px;
		color: #4e4e4e;
		padding-top: 35px;
		line-height: 1.8;
	}
	/*.content-div{

	}*/
	.view-source-button {
    	margin-top: 0px;
    	margin-bottom: 20px;
    	text-align: left;
    	margin-left: 20px;
	}

	.share-button {
		margin-top: 30px;
		text-align: left;
    	margin-left: 20px;
	}

	.slider-image {
		height: 190px;
		width: auto;
		margin-top: 10px;
		margin-bottom: 5px;
    	background-repeat: no-repeat;
    	background-position: center;
    	background-size: cover;
	}

	.font-changer {
		padding: 15px;
		background-color: #888888;
		color: white;
		text-transform: none;

	}

	.font-changer:first-child {
		height: 10px;
	  margin-bottom: -2px;
	}

	.font-changer:last-child {
		margin-left: -3px;
		background-color: #676767;
	}

	scroll-content {
		padding-top: 0px !important;
	}

	.font-tool {
		text-align: right;
		padding-right: 20px;
		margin-bottom: 25px;
	}

	.font-change-view{
		height: 90px;
    	text-align: right;
    	padding-right: 20px;
    	button {
    		color: #969494;
    	}
    	.text-font {
    		color: #737373;
		    top: 10px;
		    position: relative;
		    right: 8px;
    	}
	}

}

.back-button-div {
 	border-radius: 20px;
    top: 10px;
    position: fixed;
    height: 40px;
    width: 40px;
    background-color: rgba(110, 110, 181, 0.82);
    left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

 	ion-icon {
 		font-size: 22px;
	    color: white;
	    margin: 0 auto;
	    align-self: center;
 	}
 }

.ios {
	.back-button-div {
		top: 20px;
	}
	.bookmark-button-div {
		top: 20px;
	}
}

.bookmark-button-div {
	border-radius: 20px;
    top: 10px;
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba(110, 110, 181, 0.82);
    right: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

 	ion-icon {
 		font-size: 22px;
	    color: white;
	    margin: 0 auto;
	    align-self: center;
 	}
}
