.video-detail {
	.iframe-wrapper {	
		height: 100%;
		width: 100%;	
    	justify-content: center;
    	display: flex;
    	background-color: black;
    	padding-bottom: 60px;
    	iframe {
    		align-self: center;
    		width: 100%;
    		height: 100%;
    	}
	}	
	.bottom-wrapper {
		display: flex;
		width: 100%;
		height: 60px;
		background-color: white;
		position: absolute;
		left: 0;
		bottom: 0;
		span {
			width: 100%;
			margin-left: 15px;
			margin-top: 10px;
		}
	}
	.source-profile-img{
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 55px;
		width: 70px;
		margin-top: -10px;
		margin-left: 10px;
		background-color: #efefef;
	}
	.share-button-md {
		font-size: 0.8em !important;
	}
}
