<ion-header>
  <ion-navbar>
    <ion-title>
      {{article.title}}
    </ion-title>
    <ion-buttons right class="bar-share-button">
      <button class="no15-bar-button share-button-md">
        <ion-icon name="share"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="video-detail">
	<div class="iframe-wrapper">
		<iframe id="ytplayer" type="text/html" [src]="videoUrl"
		frameborder="0" allowfullscreen>
		</iframe>
	</div>
	<div class="bottom-wrapper">
		<div class="source-profile-img" [ngStyle]="{'background-image': 'url(' + article.source_image + ')'}">
        </div>
        <span class="font-16 no15-text-color">{{article.source}}</span>
	</div>
</ion-content>
