// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/video/video";

@import "../pages/category/category";

@import "../pages/home/home";

@import "../pages/article/article";

@import "../pages/videoDetail/videoDetail";

@import "../pages/source/source";

@import "../pages/custom/custom";

@import "../pages/about/about";

.font-16 {
  font-size: 16px !important;
  font-family: 'Khmer Nettra' !important;
}

.font-14 {
  font-size: 14px !important;
  font-family: 'Khmer Nettra' !important;
}

.font-12 {
  font-size: 12px !important;
  font-family: 'Khmer Nettra' !important;
}

.no15-text-color {
  color: #575757 !important;
  font-family: 'Khmer Nettra' !important;
}

.margin-top-15 {
	margin-top: 15px;
}

.padding-left-10 {
  padding-left: 10px;
}

@font-face {
    font-family: 'Khmer Nettra';
    src: url('../../fonts/KHMNETTRA.ttf');
    font-weight: normal;
    font-style: normal;
}

.swiper-pagination-bullet {
    background: coral !important;
    opacity: 0.4;
}

.swiper-pagination-bullet-active {
	opacity: 1 !important;
}

scroll-content {
  border:none !important;
}

.no15-menu {
  background-color: #d6cebe;

  ion-icon {
    padding-right: 5px;
  }
 /* ion-label {
    left: 30px;
    position: absolute;
  }*/
  span {
    position: absolute;
    left: 50px;
  }
  button {
    min-height: 65px;
    color: white;
    font-family: 'Khmer Nettra' !important;
    font-weight: bold;
  }

  .item[detail-push] .item-inner, button.item:not([detail-none]) .item-inner, a.item:not([detail-none]) .item-inner {
    background-image: none;
  }

}

ion-menu {
  .toolbar-background {
    border: none;
  }
  .toolbar-title {
    text-align: left;
    font-weight: normal;
    font-size: 2rem;
    color: #656565;
  }
  ion-title {
    padding-left: 20px;
    text-align: left;
    font-family: 'Khmer Nettra' !important;
  }
}
