<ion-header>
  <ion-navbar>
    <ion-title>
      ប្រភព
    </ion-title>
    <ion-buttons left>
      <button menuToggle class="no15-bar-button">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="source">

  <ion-list>
    <ion-item *ngFor="let item of result" (click)="openCustom(item)">
      <ion-avatar item-left>
        <div class="card-list-profile-img" [ngStyle]="{'background-image': 'url(' + item.image + ')'}">
        </div>
      </ion-avatar>
      <span class="font-14">{{item.source}}</span>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
