.source {
	.card-list-profile-img {
	    background-repeat: no-repeat;
	    background-position: center;
	    background-size: contain;
	    height: 35px;
	    width: 35px;
	    border-radius: 17.5px;
	    /*border: 3px solid white;*/
	    background-color: #efefef;
	    /*margin: 0 auto;*/
    	/*position: relative;*/
    	/*display: block;*/
    	/*margin-top: -35px;*/
	}
}
