<ion-menu [content]="content" type="reveal" swipeEnabled="true" persistent="false">
  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
  <ion-content class="no15-menu">
    <ion-list no-lines>
    <!-- D0E7E3 -->
      <button ion-item style="background-color: #D0E7E3" (click)="openPage(0)">
        <ion-icon name="md-home"></ion-icon>
        <span> ទំព័រដំបូង </span>
      </button>
      <!-- <button ion-item style="background-color: #D0E7E3" (click)="openPage(1)">
        <ion-icon name="md-heart-outline"></ion-icon>
        <span> ការចូលចិត្ត </span>
      </button> -->
      <button ion-item style="background-color: #E7E3D0" (click)="openPage(1)">
        <ion-icon name="md-bookmark"></ion-icon>
        <span> រក្សាទុក (Offline) </span>
      </button>
      <button ion-item style="background-color: #E9DEA9" (click)="openPage(4)">
        <ion-icon name="md-videocam"></ion-icon>
        <span> វីដេអូ </span>
      </button>
      <button ion-item style="background-color: #E9D680" (click)="openPage(2)">
        <ion-icon name="md-list"></ion-icon>
        <span> ចំណាត់ថ្នាក់ </span>
      </button>
      <button ion-item style="background-color: #D1B683" (click)="openPage(3)">
        <ion-icon name="md-globe"></ion-icon>
        <span> ប្រភព </span>
      </button>
      <!-- <button ion-item style="background-color: #8e7340" (click)="openPage(5)">
        <ion-icon name="md-person"></ion-icon>
        <span> អំពីApp </span>
      </button> -->
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav id="nav" [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
