.no15-bar-button{
  color: #424242;
  font-size: 1.5em;
}

.search {
      font-size: 0.9em !important;
}

.home {

  scroll-content{
    padding: 0px;
    padding-bottom: 0px;
    background-color: #f1f1f1;
  }

  ion-list {
    margin-bottom: 0px;
  }

  ion-item {
    padding: 0px;
    margin-top: 5px;
  }

  ion-item:first-child {
    margin-top: 0px;
  }

  .item-inner {
    padding: 0px;
  }

  ion-label {
    margin-right: 0px;
  }

  .card-list-background-img {
    height: 190px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card-list-profile-img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 60px;
    width: 60px;
    position: absolute;
    right: 20px;
    margin-top: -35px;
    border-radius: 30px;
    border: 3px solid white;
    background-color: #efefef;
  }

  .card-list-content {
    min-height: 50px;
    margin-top: -5px;
  }

  .card-video-cover {
    height: 190px;
    width: 100%;
    position: absolute;
    top: 13px;
    justify-content: center;
    display: flex;
    ion-icon {
      display: flex;
      align-self: center;
      font-size: 70px;
      color: white;
    }
  }

  .card-list-category {
    margin-top: -22px;
    span {
      padding: 5px;
      color: white !important;
      background-color: rgba(23, 85, 199, 0.65);
    }
  }

  .card-list-title {
    padding: 10px;
    padding-bottom: 0px;
    white-space: normal;
    padding-right: 75px;
    padding-top: 20px;
    line-height: 1.8;
  }

  .card-list-source {
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    text-align: left;
    white-space: normal;
    // padding-right: 50px;
  }

  .card-list-button {
    bottom: 10px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    ion-icon {
      padding-right: 15px;
      font-size: 20px;
      color: #bdbdbd;
    }
    ion-icon:first-child {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .card-favorite-button {
    position: absolute;
    top: 20px;
    left: 10px;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    background-color: rgba(110, 110, 181, 0.82);
    left: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .card-list-favorite {
    font-size: 22px;
    color: white;
    margin: 0 auto;
    align-self: center;
  }

}

.new-post-button {
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
  height: 32px;
  top: 75px;
  margin: 0 auto;
  display: block;
  font-family: 'Khmer Nettra' !important;
}

.blink {
  animation: blink-animation 5s steps(15, start) infinite;
  -webkit-animation: blink-animation 5s steps(15, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.ios{
  .home {
    .card-list-category {
      margin-top: -24px;
    }
  }
}
