<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
    <ion-buttons left>
      <button menuToggle class="no15-bar-button">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <!-- <ion-buttons right>
      <button class="no15-bar-button search">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons> -->
  </ion-navbar>
</ion-header>
<button round class="new-post-button blink" (click)="reloadData()" [hidden]="!newPostShow" readonly>
  New Post
  <ion-icon name="arrow-dropup"></ion-icon>
</button>
<ion-content padding class="home">
  <input type="hidden" class="new-post-trigger" (click)="onNewPostShow()" [(ngModel)]="triggerText">
  <ion-refresher (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-list no-lines>
    <ion-item class="no15-item" (click)="openArticle(article)" *ngFor="let article of result">
      <div class="card-list-background-img" [ngStyle]="{'background-image': 'url(' + article.banner_image + ')'}" >
      </div>
      <div class="card-video-cover" *ngIf="article.type=='video'">
        <ion-icon name="md-play"></ion-icon>
      </div>
      <div>
        <div class="card-list-profile-img" [ngStyle]="{'background-image': 'url(' + article.source_image + ')'}">
        </div>
      </div>
      <div class="card-list-category">
        <span class="font-12">
          {{article.category}}
        </span>
      </div>
      <div class="card-list-content">
        <p class="card-list-title font-16 no15-text-color">
          {{article.title}}
        </p>
        <p class="card-list-source font-12 no15-text-color">
          ប្រភព: {{article.source}}
        </p>
        <div class="card-list-button">
          <!-- <ion-icon name="ios-bookmark-outline" *ngIf="article.type=='article'"></ion-icon> -->
          <ion-icon name="md-more" (click)="openAction($event, article)"></ion-icon>
        </div>
        <!-- <button clear class="card-favorite-button">
          <ion-icon class="card-list-favorite" name="md-heart-outline"></ion-icon>
        </button> -->
      </div>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>
</ion-content>

<!-- <script>
var flybase = new Flybase("7d26bb1d-e5a9-484b-9617-27805b854a39", "komnit", "Article");

  flybase.set({ name: "no15-flybase" });
alert(flybase);
  flybase.on("added", function(data) {
    var name = data.value().name;
    alert("My name is " + name);
  });
</script> -->
