<ion-tabs preloadTabs="true">
  <ion-tab [root]="tab1Root" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="videocam"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="list"></ion-tab>
</ion-tabs>
