<ion-header>
  <ion-navbar>
    <ion-title>
      ចំណាត់ថ្នាក់
    </ion-title>
    <ion-buttons left>
      <button menuToggle class="no15-bar-button">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list> 
    <ion-item *ngFor="let item of result" (click)="openCategory(item)">
      <span class="font-14">{{item.category}}</span>
      <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </ion-item>
  </ion-list>

</ion-content>
